.DomTiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Tile {
  position: absolute;
}

.TileImg, .AnimatedTile {
  min-width: none;
  min-height: none;
}
