.Markers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Marker, .Marker:before, .Marker:after {
  box-sizing: border-box;
  border-radius: 50%;
  transform-origin: 50% 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  opacity: 1;
  z-index: 2;
}

.Marker {
  background: none;
  transform: scale(1) translate(-50%, -50%);
}

.Marker:before {
  content: '';
  opacity: 0.2;
  border: 0.1em solid white;
  animation: pulse 3s 0s infinite;
}

.Marker:hover {
  opacity: 0.8;
  background: white;
  cursor: pointer;
  transition: opacity .3s ease-in;
}

.Marker:after {
  content: '';
  opacity: 0.2;
  border: 0.05em solid white;
  animation: fade 3s 0s infinite;
}

.Marker:after {
  opacity: 1;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1.6);
  }
}

@keyframes fade {
  0% {
    opacity: 0.2;
    transform: scale(0.7);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
