@import '../../_variables.scss';

.Network {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Network svg {
  width: 100%;
  height: 100%;
}

.powerline, .powerflow {
  fill: none;
  opacity: 0.6;
  transition: opacity .3s ease-in;
  stroke-linecap: round;
}

.powerline {
  stroke: darkgray;
  stroke-width: 1.5%;
}

.powerline.solar {
  stroke: $solar;
}

.powerline.battery {
  stroke: $buffer;
}

.powerline.gas {
  stroke: $gas;
}
.powerline.diesel {
  stroke: $diesel;
}

.powerline.load {
  stroke: $totalLoad;
}

.powerline.distribution {
  stroke: rgba(255,153,153,0.5);
}

.active .powerflow, .active.discharge .powerflow {
  stroke: white;
  stroke-width: 0.3%;
  stroke-dasharray: 1 10;
  animation: powerflow 15s infinite linear forwards;
}

.active.charge .powerflow {
  stroke: white;
  stroke-width: 0.3%;
  stroke-dasharray: 1 10;
  animation: powerflow-reverse 15s infinite linear backwards;
}

@keyframes powerflow {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -250;
  }
}

@keyframes powerflow-reverse {
  0% {
    stroke-dashoffset: -250;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
