.TileEditor {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.TileEditor__Background {
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.TileEditor__Content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.TileEditor__Header {
  align-self: flex-start;
  z-index: 2;
  width: 100%;
}

.TileEditor__Body {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  flex: 1;
  padding: 10px;
}

.TileEditor__Footer {
  width: 100%;
  align-self: flex-end;
  text-align: center;
  padding: 2% 0;
  border-top: 2px solid rgb(247, 247, 247);
}

.TileEditor__TerrainImage {
  overflow: hidden;
  position: relative;
}

.TileEditor__Image {
  text-align: center;
  overflow: hidden;
}

.StructureImage {
  width: 200%;
  height: 200%;
}
