@import '../node_modules/bulma/sass/utilities/variables.sass';

$totalLoad: $danger;
$totalGen: $primary;
$totalFeed: aqua;
$totalRamped: olive;
$solar: $info;
$diesel: $dark;
$gas: $success;
$wind: $info;
$buffer: $orange;
$storage: $purple;
