html {
  overflow-y: auto;
}

.microgrid-app {
  height: 100vh;
  background: rgb(247,247,247);
}

.split-pane-vertical {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  outline: none;
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
}

.pane-vertical {
  position: relative;
  display: flex;
  flex: 0 0 auto;
}

.panel {
  width: 250px;
}

.pane2 {
  flex: 1 1 0%;
}

.controls {
  width: 100%;
  height: 100%;
  padding: 10%;
}

.split-pane-horizontal {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.pane-horizontal {
  position: relative;
  display: flex;
  flex: 1 1 0%;
}

.horizontal-panel {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.horizontal-panel-content {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(236,236,236);
  border-radius: 4px;
  background-color: rgb(255,255,255);
  padding: 10px;
}

.bottom {
  flex: 0 0 auto;
  height: 200px;
  margin-top: 10px;
}
