html {
  overflow-y: auto;
}

.App {
  height: 100vh;
  background: rgb(247,247,247);
}

.SidePanel {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}

.SplitPane {
  padding: 10px 10px 10px 0;
}

.Container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Content {
  position: absolute;
}

.ContentPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  border: 1px solid rgb(236,236,236);
}

.ContentPanel__Header {
  z-index: 5;
  border-bottom: 1px solid rgb(247, 247, 247);
  background-color: rgb(236,236,236);
  padding: 4px 8px;
}

.ContentPanel__Body {
  width: 100%;
  height: 100%;
  position: relative;
}

.ContentPanel__Controls {
  opacity: 0.1;
  transition: opacity 0.3s ease-in;
}

.ContentPanel__Header:hover .ContentPanel__Controls {
  opacity: 1;
}

.Resizer {
  background: #000;
  opacity: .1;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover {
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 10px;
  margin: 0 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 10px;
  margin: 0;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
